<!-- Start: Header Section  -->
<div class="message-header d-flex" *ngIf="receiversConversation">
    <div class="d-flex align-items-center justify-content-between ">
        <div class="d-flex align-items-center h-100">
            <div class="d-flex align-items-center p-3  ">
                <div class="position-relative  user-profile rounded-2 ">
                    <figure class="m-0">
                        <img [src]="receiversConversation.profile" class="h-100 w-auto position-absolute" alt="profile">
                    </figure>
                </div>

                <div class="ms-3 d-flex flex-column">
                    <span class="fw-semibold text-nowrap"> {{receiversConversation.displayName}} </span>
                    <!-- <div class="fs-7">Typing </div> -->
                    <span class="fs-7"></span>
                    <span class="fs-7"> Online </span>
                </div>
            </div>

            <!-- Tab view  -->
            <div class="d-flex bg-white  ms-5 rounded-2">
                <span class="p-3 align-items-center  rounded-2" (click)="onWindow(true)" role="button"
                    [ngClass]="{'bg-main-color' : currentWindow}" (click)="navigationConversation()">
                    <span class="fw-bolder" [ngClass]="{'text-white' : currentWindow}"> Chat</span>
                </span>
                <span class="p-3 d-flex align-items-center  rounded-2 " (click)="onWindow(false)" role="button"
                    [ngClass]="{'bg-main-color' : !currentWindow}" (click)="navigationEod()">
                    <span class="fw-bolder" [ngClass]="{'text-white' : !currentWindow}"> EOD</span>
                </span>
            </div>
        </div>
        <div *ngIf="receiversConversation">
            <div ngbDropdown class="d-inline-block" *ngIf="receiversConversation.chat_type === 'group'">
                <div class="d-flex align-items-center">
                    <span type="button" id="dropdownBasic1" ngbDropdownToggle class="icon-user text-info fs-3">
                    </span> <span class="fs-6 text-info">{{receiversConversation.members.length}}</span>
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdownBasic1 overflow-auto">
                    <ul class="list-unstyled m-0">
                        <li class="d-flex align-items-center px-3 py-2" ngbDropdownItem
                            *ngFor="let members of receiversConversation.members">
                            <figure class="m-0">
                                <img [src]="members.photo" alt="avatar" class="rounded-circle shadow profile-img">
                            </figure>
                            <span class="ps-3"> {{members.full_name}} </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- End: Header Section  -->