<div class="container border mt-2" *ngFor="let user of [1,2,3,4,5]">
    <div class="fb-item">
        <div class="d-flex flex-column">
            <div class=" d-flex justify-content-between align-items-center">
                <div>
                    <ngx-skeleton-loader [theme]="{
width: '100px',
'border-radius': '5px',
height: '20px',
'margin-top': '10px',


}"></ngx-skeleton-loader>
                </div>
                <div>
                    <ngx-skeleton-loader [theme]="{
width: '100px',
'border-radius': '5px',
height: '20px',
'margin-top': '10px',


}">
                    </ngx-skeleton-loader>
                </div>
            </div>
            <div class=" d-flex  justify-content-around align-items-center">
                <div>
                    <ngx-skeleton-loader [theme]="{
width: '100px',
'border-radius': '5px',
height: '20px',
'margin-top': '10px',


}"></ngx-skeleton-loader>
                </div>
                <div>
                    <ngx-skeleton-loader [theme]="{
width: '100px',
'border-radius': '5px',
height: '20px',
'margin-top': '10px',


}"></ngx-skeleton-loader>
                </div>
                <div>
                    <ngx-skeleton-loader [theme]="{
width: '100px',
'border-radius': '5px',
height: '20px',
'margin-top': '10px',


}"></ngx-skeleton-loader>
                </div>
                <div>
                    <ngx-skeleton-loader [theme]="{
width: '100px',
'border-radius': '5px',
height: '20px',
'margin-top': '10px',


}"></ngx-skeleton-loader>
                </div>
                <div>
                    <ngx-skeleton-loader [theme]="{
width: '100px',
'border-radius': '5px',
height: '20px',
'margin-top': '10px',


}"></ngx-skeleton-loader>
                </div>
                <div>
                    <ngx-skeleton-loader [theme]="{
width: '100px',
'border-radius': '5px',
height: '20px',
'margin-top': '10px',


}">
                    </ngx-skeleton-loader>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <ngx-skeleton-loader [theme]="{
          width: '1200px',
          'border-radius': '5px',
          height: '35px',
          'margin-top': '10px',
   
        
        }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
</div>