<!-- delete model -->
<div class="position-absolute border translate-middle start-50 top-50 w-25">
  <div class="bg-white border-2">
    <div class="d-flex justify-content-between align-items-center border-bottom border-top  p-2">
      <h6 class="me-4">Please confirm..</h6>
      <span type="button" class="icon-close fs-2" (click)="dismiss()"></span>
    </div>
    <div class="p-2">
      <h4 class="my-4 fs-4">Do you really want to ... ?</h4>
    </div>

    <div class="mt-3 d-flex justify-content-end border-bottom border-top  p-2">
      <button type="button" class="btn btn-info  me-3" (click)="decline()">No</button>
      <button type="button" class="btn btn-danger" (click)="deleteEod()">Yes</button>
    </div>
  </div>
</div>