<!-- delete model -->
<div class="position-absolute  translate-middle start-50 top-50 w-25">
  <div class="bg-white ">
    <div class="d-flex justify-content-between align-items-center border-bottom border-top  p-2">
      <h6 class="me-4">Please confirm</h6>
      <span type="button" class="icon-close fs-2" (click)="dismiss()"></span>
    </div>
    <div class="p-2">
      <h4 class="my-4 fs-4" *ngIf="commonData.eodId">Do you really want to Send ?</h4>
      <h4 class="my-4 fs-4" *ngIf="!commonData.eodId">Do you really want to  Delete ?</h4>
    </div>

    <div class="mt-3 d-flex justify-content-end border-bottom border-top  p-2">
      <button type="button" class="btn btn-success  me-3" (click)="decline()">No</button>
      <button type="button" class="btn btn-danger tes" (click)="accepted()">Yes</button>
    </div>
  </div>
</div>
