// Global styles goes here
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

html,body{
    height: 100%;
    overflow: hidden;
}

#icon-eye{
    right: 10px;
    top: 25%;
}

.login-container{
    min-width: 500px; 
}