// All the SCSS Variables goes here

// font 
$font-family                            : 'Poppins', sans-serif;

// sidebar 
$sidebar-width                          : 400px;

// header 
$header-height                          : 60px;

// badge 
$badge-font-weight                      : 500;

// offcanvas 
$offcanvas-horizontal-width             : 800px;
$offcanvas-padding-x                    : 50px;

// Input Type Variable
$input-focus-box-shadow: none;
$form-select-box-shadow:none;
$form-select-focus-box-shadow:none;
$input-focus-border-color: $primary;