// All the SCSS Variables goes here

// font 
$font-family                            : 'Poppins', sans-serif;

// sidebar 
$sidebar-width                          : 400px;

// header 
$header-height                          : 60px;

// badge 
$badge-font-weight                      : 500;

// offcanvas 
$offcanvas-horizontal-width             : 800px;
$offcanvas-padding-x                    : 50px;

// accordion 
$accordion-button-focus-box-shadow      : 0px;