// All the SCSS Variables goes here

// font 
$font-family                            : 'Poppins', sans-serif;

// sidebar 
$sidebar-width                          : 400px;

// header 
$header-height                          : 60px;

// badge 
$badge-font-weight                      : 500;