<!-- Start: Chat Container  -->
<div class="d-flex h-100 position-relative" onScreen>
    <!-- Start: Service Flag loader -->
    <ng-template [ngIf]="serviceWorkerLoaderFlag">
        <div class="h-100 w-100 d-flex justify-content-center align-items-center position-absolute sw-update-loader">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <figure class="d-flex align-items-center justify-content-center">
                    <img src="assets/images/1494.gif" alt="user-conversation-image" class="w-75">
                </figure>
                <h6 class="text-white text-center fst-italic">Updating In-Progress...</h6>
            </div>
        </div>
    </ng-template>
    <!-- End: Service Flag loader -->
    
    <!-- Start: User List  -->
    <div id="sidebar" class="border border-end bg-white">
        <app-chat-list-presentation [allUsers]="allUsers$ | async" (logOutUser)="onLogOut($event)"
            [conversationUsers]="conversationUser$ | async" (currectConversation)="getCurrentConversation($event)"
            (readedMessages)="getReadedMessages($event)" [typingInfo]="typingInfo" [onlineUsers]="onlineUsers"
            (newGroupDetails)="getNewGroupDetails($event)"
            [notificationClickData]="notificationClickData$ | async"></app-chat-list-presentation>
    </div>
    <!-- End: User List  -->

    <!-- Start: Chat Screen  -->
    <div class="flex-grow-1">
        <!-- <router-outlet></router-outlet> -->
        <app-chat-message-presentation [chatArray]="chatArray$ | async" [senderId]="senderId"
            [receiversConversation]="receiverConversationData$ | async" (chatData)="getChatData($event)"
            (InputTyping)="getMessageTyping()" [typingInfo]="typingInfo" (editMessageObj)="getEditMessageObj($event)"
            (repliedMessage)="getRepliedMessage($event)" (eodReport)="getEodReport($event)"
            (onEodTab)="getEodTab($event)" [getReports]="getReports" [getActivityTypes]="getStateActivityType$ |async" (getStateActivityData)="getStateActivityData($event)"></app-chat-message-presentation>
    </div>
    <!-- End: Chat Screen  -->
</div>
<!-- End: Chat Container  -->