<!-- Start: Chat Container  -->
<div class="d-flex h-100" #onScreen>

    <!-- Start: User List  -->
    <div id="sidebar" class="border border-end bg-white">
        <app-chat-list-presentation 
            [getAllUser]="transferAllUser$ | async"
            [getConversationUser]="transferConversationUser$ | async" 
            (emitChatId)="getChatId($event)"
            (emitReceiverId)="getReceiverId($event)"
            (emitNewChatState)="getNewChatState()"
            [newConversationUser]="newConversationUser | async"
            [getSenderDetails]="senderDetails$  | async"
            [getTypingData]="typingData |async"
            (emitIsReadData)="getIsReadData($event)"
            [getOnlineUsers]="getAliveData"
            (emitChatType)="getChatType($event)"
            [getGroupDetails]="groupConversation$ | async"
            [notificationCount]="notificationCount$ | async"
            (emitGroupData)="groupDetails($event)"
        ></app-chat-list-presentation>
    </div>
    <!-- End: User List  -->

    <!-- Start: Chat Screen  -->
    <div class="flex-grow-1">
        <app-chat-message-presentation 
            [getChat]="updatedChatArray$ | async" 
            (emitChat)="getChat($event)"
            [getReceiverData]="receiverData$ | async"
            (emitSenderId)="getSenderId($event)"
            [getTypingData]="typingData |async"
            [getOnlineUsers]="getAliveData"
            (emitEditMessageData)="getEditMessageData($event)"
            (emitChatMessage)="getEditChatMessageData($event)"
            (emitReplyMessageData)="getReplyMessageData($event)"
            [getGroupDetails]="groupChatDetails$ | async"
            (emitEodTasks)="getEodTasks($event)"
        ></app-chat-message-presentation>
    </div>
    <!-- End: Chat Screen  -->
</div>
<!-- End: Chat Container  -->