<!-- all user -->
<div class=" main-all-user-aside-wrapper h-100 d-flex flex-column ">
  <!-- User Search Box-->
  <div class="p-3">
    <form class="position-relative" [formGroup]="searchGroup">
      <input type="text" class="form-control " name="search" autocomplete="off" placeholder="Search a new user "
        formControlName="search" [(ngModel)]="searchText" #inputTypeFocus>
      <span class="icon-search position-absolute fw-lighter "></span>
    </form>
  </div>
  <!--End user Search Box-->
  <div class="flex-grow-1 overflow-auto border border-top border-success">
    <!-- Skeleton Loading -->
    <div *ngIf="isLoading | async; else data">
      <app-users-skeleton-loader></app-users-skeleton-loader>
    </div>
    <!-- Skeleton Loading -->
    <!-- all user list  -->
    <ng-template #data>
      <ng-container *ngFor="let user of allUsers | search:searchText">
        <div role="button" class="user-container d-flex align-items-center p-2 mx-2 rounded-2"
          (click)="onNewChat(user)">
          <div class="position-relative user-profile rounded-2 ">
            <figure class="m-0">
              <img [src]="user.photo" class="h-100 w-auto position-absolute" alt="profile">
            </figure>
          </div>
          <div class="ms-2">
            <span class="fw-semibold"> {{user.full_name}} </span>
            <span class="fw-semibold"
              [ngClass]="{'text-danger' : user.role === 'lead', 'text-warning' : user.role === 'mentor', 'text-success' : user.role === 'intern'}">
              ({{user.role}}) </span>
          </div>
        </div>
      </ng-container>
      <!-- No user found section  -->
      <div class="h-100 d-flex justify-content-center align-items-center"
        *ngIf="(allUsers|search:searchText)?.length <= 0 ">
        <span class="text-info"> No User Found </span>
      </div>
      <!-- End  No user found section  -->
    </ng-template>
    <!-- End all user  list -->
  </div>
</div>