<!-- Start: User Message  -->
<div class="h-100 d-flex flex-column overflow-hidden">
    <!-- Start: Header Section  -->
    <div id="header" class="d-flex align-items-center justify-content-between px-5">
        <div class="d-flex align-items-center">
            <figure class="m-0">
                <img [src]="convertPhoto(getReceiverData?.photo)" class="rounded-circle profile-img" alt="profile">
            </figure>
            <div class="ms-3 d-flex flex-column">
                <span class="fw-semibold"> {{getReceiverData?.full_name}} </span>
                <span [ngClass]="showTyping ? 'visible' : 'invisible'" class="fs-8"> Typing... </span>
            </div>
        </div>
        <div class="fs-4" role="button" (click)="onLogOut()">
            <i class='bx bx-exit'></i>
        </div>
    </div>
    <!-- End: Header Section  -->

    <!-- Start: Chat Screen  -->
    <div class="chat-container flex-grow-1 overflow-auto px-5 py-4" #scroll>
        <!-- Chat  -->
        <div class="d-flex" *ngFor="let data of getChat"
            [ngClass]="data.sender === senderId ? 'justify-content-end' : 'justify-content-start'">
            <div class="chat">

                <!-- Sender Name  -->
                <p class="mb-1 fs-7" [ngClass]="data.sender === senderId ? 'text-end' : 'text-start'">
                    <span class="text-info"> {{data.sender === senderId ? 'You' : getReceiverData?.full_name}} </span>
                </p>

                <!-- Chat Message  -->
                <div class="d-flex"
                    [ngClass]="data.sender === senderId ? 'justify-content-end' : 'justify-content-start'">
                    <p class="chat-text rounded-3 py-1 px-2 border mb-1"
                        [ngClass]="data.sender === senderId ? 'bg-secondary' : 'bg-white'">
                        {{data.content.text}}
                    </p>
                </div>

                <!-- Time and Date  -->
                <p class="fs-8 text-info d-flex align-items-center" [ngClass]="data.sender === senderId ? 'justify-content-end' : 'justify-content-start'">
                    <span class="pe-1">
                        {{data.convertedTime}}
                    </span>
                    <ng-container *ngIf="data.sender === senderId">
                        <span *ngIf="!data.is_read">
                            <img src="https://img.icons8.com/ios-filled/16/b1b1b1/double-tick.png"/>
                        </span>
                        <span *ngIf="data.is_read">
                            <img src="https://img.icons8.com/ios-filled/16/00ffff/double-tick.png"/>
                        </span>
                    </ng-container>
                </p>
            </div>
        </div>
    </div>
    <!-- End: Chat Screen  -->

    <!-- Start: Message Typer -->
    <div id="typer" class="bg-theme d-flex align-items-center p-3">
        <form class="w-100 pe-3 d-flex" (ngSubmit)="onSubmit()" [formGroup]="chatGroup">
            <input type="text" class="form-control" name="message" id="message" formControlName="message"
                autocomplete="off" autofocus>
            <button class="fs-4 border-0 ms-3 bg-transparent" type="submit">
                <i class='bx bxs-send'></i>
            </button>
        </form>
    </div>
    <!-- End: Message Typer -->
</div>
<!-- End: User Message  -->