<!-- Start: User Message  -->
<div
    class="main-chat-container h-100 d-flex flex-column overflow-hidden border-5 border-bottom border-primary position-relative">
    <ng-container *ngIf="receiversConversation else gif">
        <!-- Start: Header Section  -->
        <div id="header" class="d-flex">
            <div class="container d-flex align-items-center justify-content-between ">
                <div class="d-flex align-items-center h-100">
                    <div class="d-flex align-items-center">
                        <figure class="m-0">
                            <img [src]="receiversConversation.profile" class="rounded-circle profile-img" alt="profile">
                        </figure>
                        <div class="ms-3 d-flex flex-column">
                            <span class="fw-semibold text-nowrap"> {{receiversConversation.displayName}} </span>
                            <div class="fs-7"
                                *ngIf="typingIds.includes(receiversConversation.members[0]._id) && showTypingText | async else online">
                                Typing </div>
                            <ng-container *ngIf="groupTyperNames.length !== 0">
                                <span class="fs-7">{{groupTyperNames.join(', ') + ' is typing'}}</span>
                            </ng-container>
                            <ng-template #online>
                                <span class="fs-7 "> Online </span>
                            </ng-template>
                        </div>
                    </div>
                    <!-- Tab view  -->
                    <div class="d-flex h-100 px-4">
                        <span class="h-100 border-3 border-success d-flex align-items-center mx-2"
                            (click)="onWindow(true)" role="button"
                            [ngClass]="{'border-bottom fw-semibold' : currentWindow}"> Chat </span>
                        <span class="h-100 border-3 border-success d-flex align-items-center mx-2"
                           role="button"   (click)="onWindow(false)"> EOD </span>
                           <!-- routerLink="eod" -->
                    </div>
                    <!-- End Tab view  -->
                </div>
                <!-- Member of group name display -->
                <div ngbDropdown class="d-inline-block" *ngIf="receiversConversation.chat_type === 'group'">
                    <div class="d-flex align-items-center">
                        <span type="button" id="dropdownBasic1" ngbDropdownToggle class="icon-user text-info fs-3">
                        </span> <span class="fs-6 text-info">{{receiversConversation.members.length}}</span>
                    </div>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdownBasic1 overflow-auto">
                        <ul class="list-unstyled m-0">
                            <li class="d-flex align-items-center px-3 py-2" ngbDropdownItem
                                *ngFor="let members of receiversConversation.members">
                                <figure class="m-0">
                                    <img [src]="members.photo" alt="avatar" class="rounded-circle shadow profile-img">
                                </figure>
                                <span class="ps-3"> {{members.full_name}} </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Member of group name display -->
            </div>
        </div>
        <!-- End: Header Section  -->
        <!-- Start: Chat Screen -->
        <div class="flex-grow-1 overflow-hidden position-relative">
            <!-- app-chatting-presentation -->
            <ng-container *ngIf="currentWindow else eod">
                <app-chatting-presentation [chatArray]="chatArray" [senderId]="senderId"
                    (chatData)="getChatData($event)" (InputTyping)="getInputTyping()"
                    (editMessageObj)="getEditMessageObj($event)" (repliedMessage)="getRepliedMessage($event)"
                    [receiversConversation]="receiversConversation"></app-chatting-presentation>
            </ng-container>
            <!-- End app-chatting-presentation -->
            <!-- Eod Status Report  -->
          
              <ng-template #eod>
                <div>
                    <app-eod-presentation [getEodDetails]="eodReportDetails"
                    [getReports]="getReports" [getActivityTypes]="getStateActivityTypeData" ></app-eod-presentation>
     
               
                </div>
                           
            </ng-template>
        </div>
        <!-- End: Chat Screen -->
    </ng-container>
    <!-- If no conversation started message -->
    <ng-template #gif>
        <div class="d-flex flex-column h-100 justify-content-center align-items-center">
            <figure class="d-flex justify-content-center align-items-center">
                <img src="assets/icons/981-consultation-lineal.gif" alt="user-conversation-image"
                    class="brand-gif-width">
            </figure>
            <h3 class="text-center fst-italic text-muted"> Aspire to Inspire. </h3>
        </div>
    </ng-template>
</div>
<!-- End: User Message -->