<!-- Start: User Message  -->
<div class="h-100 d-flex flex-column overflow-hidden border-bottom border-primary border-3">
    <!-- Start: Header Section  -->
    <ng-container *ngIf="count === 1">
        <div id="header" class="d-flex align-items-center justify-content-between px-5">
            <div class="d-flex align-items-center">
                <figure class="m-0">
                    <img [src]="convertPhoto(getReceiverData?.photo)" class="rounded-circle profile-img" alt="profile">
                </figure>
                <div class="ms-3 d-flex flex-column">
                    <span class="fw-semibold"> {{getReceiverData?.full_name}} </span>
                    <ng-container *ngIf="showTyping | async else status">
                        <span [ngClass]="(showTyping | async) ? 'visible' : 'invisible'" class="fs-8"> Typing... </span>
                    </ng-container>
                    <ng-template #status>
                        <span class="fs-7"> {{showStatus ? 'Online' : 'Offline'}} </span>
                    </ng-template>
                </div>
            </div>
            <div class="fs-4" role="button" (click)="onLogOut()" title="logout">
                <i class='icon-bx-log-out  text-info'></i>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="count === 2">
        <div id="header" class="d-flex align-items-center justify-content-between px-5">
            <div class="d-flex align-items-center">
                <figure class="m-0">
                    <img [src]="convertPhoto(getGroupDetails?.photo)" class="rounded-circle profile-img" alt="profile">
                </figure>
                <div class="ms-3 d-flex flex-column">
                    <span class="fw-semibold"> {{getGroupDetails?.title}} </span>
                    <ng-container *ngIf="typerNames.length !== 0 else members">
                        <span class="fs-7">{{typerNames.join(', ') + ' is typing'}}</span>
                    </ng-container>
                    <ng-template #members>
                        <span class="fs-7">{{groupMembers}}</span>
                    </ng-template>
                </div>
            </div>
            <div class="fs-4" role="button" (click)="onLogOut()" title="logout">
                <i class='icon-bx-log-out  text-info'></i>
            </div>
        </div>
    </ng-container>
    <!-- End: Header Section  -->

    <!-- Start: Chat Screen  -->
    <ng-container>
        <div class="chat-container flex-grow-1 overflow-auto py-4  h-100" #messageContainer
            (scroll)="onMessageScroll(messageContainer)">
            <div class="container h-100">
                <!-- Chat  -->
                <div class="d-flex flex-column" *ngFor="let data of getChat, let i = index"
                    [ngClass]="data.sender === senderId ? 'justify-content-end' : 'justify-content-start'">
                    <div class="d-flex justify-content-center">
                        <span class="tick-color shadow-sm text-info py-1 px-2 rounded-2 fs-7">
                            Today
                        </span>
                    </div>
                    <div class="chat">
                        <!-- Sender Name  -->
                        <ng-container *ngIf="data.chat_type === 'group'">
                            <p class="mb-1 fs-7" [ngClass]="data.sender === senderId ? 'text-end' : 'text-start'">
                                <span class="text-info"> {{data.sender === senderId ? 'You' :
                                    getSenderName(data.sender)}}
                                </span>
                            </p>
                        </ng-container>

                        <!-- Chat Message  -->
                        <div class="d-flex"
                            [ngClass]="data.sender === senderId ? 'justify-content-end' : 'justify-content-start'">
                            <p class="chat-text rounded-3 py-1 px-2 shadow-sm mb-1"
                                [ngClass]="data.sender === senderId ? 'bg-secondary' : 'bg-white'">
                                {{data.content.text}}
                            </p>
                        </div>

                        <!-- Time and Date  -->
                        <p class="fs-8 text-info d-flex align-items-center"
                            [ngClass]="data.sender === senderId ? 'justify-content-end' : 'justify-content-start'">
                            <span class="pe-1">
                                {{data.convertedTime}}
                            </span>
                            <ng-container *ngIf="data.sender === senderId">
                                <span *ngIf="!data.is_read">
                                    <img src="https://img.icons8.com/ios-filled/16/b1b1b1/double-tick.png" />
                                </span>
                                <span *ngIf="data.is_read">
                                    <img src="https://img.icons8.com/ios-filled/16/00ffff/double-tick.png" />
                                </span>
                            </ng-container>
                        </p>
                    </div>
                </div>
                <div class="icon-circle-down fs-4 text-info position-fixed end-0 me-5 position-relative scroll-icon"
                    id="icon" (click)="scrollUp()" *ngIf="!isScrolledToBottom" role="button">
                    <!-- <span class="count-message position-absolute   badge rounded-pill bg-secondary  fs-9 text-black" >1</span> -->
                </div>
                <ng-container *ngIf="!getReceiverData.full_name && !getGroupDetails">
                    <div class="d-flex flex-column h-100 justify-content-center align-items-center">
                        <figure>
                            <img src="../../../../../../assets/icons/981-consultation-lineal.gif"
                                alt="user-conversation-image" class="w-75">
                        </figure>
                        <h4 class="text-center"> Select any user to start the conversation </h4>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <!-- End: Chat Screen  -->

    <!-- Start: EOD Report -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header d-flex justify-content-center border-bottom border-1 shadow">
            <h5 class="offcanvas-title" id="offcanvasRightLabel"> EOD Report </h5>
        </div>
        <div class="offcanvas-body">

            <!-- Start: Accordion Section  -->
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            OnGoing Tasks
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            <!-- Start: EOD Form  -->
                            <form [formGroup]="eodGroup">
                                <div class="border p-4 border-1 rounded-3 my-3" formArrayName="onGoing"
                                    *ngFor="let m of this.formTaskArray('onGoing').controls; let i = index">
                                    <ng-container [formGroupName]="i">
                                        <div class="row g-4">

                                            <!-- Task Title  -->
                                            <div class="col-6">
                                                <label for="title" class="form-label required"> Task Title</label>
                                                <input type="text" class="form-control" name="title" id="title"
                                                    formControlName="title">
                                            </div>

                                            <!-- Work Hours  -->
                                            <div class="col-6">
                                                <label for="hours" class="form-label required">Work Hours</label>
                                                <input type="number" class="form-control" name="hours" id="hours"
                                                    formControlName="hours">
                                            </div>

                                            <!-- Description  -->
                                            <div class="col-12">
                                                <label for="description" class="form-label required">Description</label>
                                                <textarea name="description" id="description" cols="30" rows="8"
                                                    class="form-control" formControlName="description"></textarea>
                                            </div>

                                            <!-- Blocker  -->
                                            <div class="col-12">
                                                <label for="blocker" class="form-label"> Blocker </label>
                                                <input type="text" class="form-control" name="blocker" id="blocker"
                                                    formControlName="blocker">
                                            </div>
                                        </div>
                                        <button class="btn btn-primary w-100 mt-3"
                                            [disabled]="eodGroup.get('onGoing').invalid" (click)="onAddTask(0)"> + Add
                                            Task
                                        </button>
                                    </ng-container>
                                </div>
                            </form>
                            <!-- End: EOD Form  -->

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Completed Tasks
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            <!-- Start: EOD Form  -->
                            <form [formGroup]="eodGroup">
                                <div class="border p-4 border-1 rounded-3 my-3" formArrayName="completed"
                                    *ngFor="let m of this.formTaskArray('completed').controls; let i = index">
                                    <ng-container [formGroupName]="i">
                                        <div class="row g-4">

                                            <!-- Task Title  -->
                                            <div class="col-6">
                                                <label for="title" class="form-label required">Task Title</label>
                                                <input type="text" class="form-control" name="title" id="title"
                                                    formControlName="title">
                                            </div>

                                            <!-- Work Hours  -->
                                            <div class="col-6">
                                                <label for="hours" class="form-label required">Work Hours</label>
                                                <input type="number" class="form-control" name="hours" id="hours"
                                                    formControlName="hours">
                                            </div>

                                            <!-- Description  -->
                                            <div class="col-12">
                                                <label for="description" class="form-label required">Description</label>
                                                <textarea name="description" id="description" cols="30" rows="8"
                                                    class="form-control" formControlName="description"></textarea>
                                            </div>

                                            <!-- Blocker  -->
                                            <div class="col-12">
                                                <label for="blocker" class="form-label"> Blocker </label>
                                                <input type="text" class="form-control" name="blocker" id="blocker"
                                                    formControlName="blocker">
                                            </div>

                                        </div>
                                        <button class="btn btn-primary w-100 mt-3"
                                            [disabled]="eodGroup.get('completed').invalid" (click)="onAddTask(1)"> + Add
                                            Task
                                        </button>
                                    </ng-container>
                                </div>
                            </form>
                            <!-- End: EOD Form  -->

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            New Learning
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            <!-- Start: EOD Form  -->
                            <form [formGroup]="eodGroup">
                                <div class="border p-4 rounded-3 my-3" formArrayName="newLearning"
                                    *ngFor="let m of this.formTaskArray('newLearning').controls; let i = index">
                                    <ng-container [formGroupName]="i">
                                        <div class="row g-4">

                                            <!-- Task Title  -->
                                            <div class="col-12">
                                                <label for="title" class="form-label"> Task Title </label>
                                                <input type="text" class="form-control" name="title" id="title"
                                                    formControlName="title">
                                            </div>

                                            <!-- Description  -->
                                            <div class="col-12">
                                                <label for="description" class="form-label"> Description </label>
                                                <textarea name="description" id="description" cols="30" rows="8"
                                                    class="form-control" formControlName="description"></textarea>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary w-100 mt-3" [disabled]="eodGroup.get('newLearning').invalid"
                                            (click)="onAddTask(2)"> + Add Task
                                        </button>
                                    </ng-container>
                                </div>
                            </form>
                            <!-- End: EOD Form  -->

                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between pt-3">
                    <button class="btn btn-danger text-white" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"> Cancel </button>
                    <button class="btn btn-success text-white" (click)="onEodSubmit()" type="submit"> Submit </button>
                </div>
            </div>
            <!-- End: Accordion Section  -->
        </div>
    </div>
    <!-- End: EOD Report -->

    <!-- Start: Message  -->
    <ng-container *ngIf="getReceiverData.full_name || getGroupDetails">
        <div id="typer" class="d-flex align-items-center bg-theme px-5 pt-2">
            <form class="container d-flex flex-column " (ngSubmit)="onSubmit()" [formGroup]="chatGroup">
                <input type="text" class="form-control py-2 rounded-1 " name="message" id="message"
                    formControlName="message" autocomplete="off" placeholder="Type a new message">
                <div class="d-flex align-items-center justify-content-between px-1 py-1">
                    <div class="file-attach d-flex align-items-center">
                        <label for="file" class="d-flex align-items-center">
                            <span class="icon icon-paperclip fs-5 cursor-pointer"></span>
                        </label>
                        <span class="icon icon-emoji-smile fs-5 mx-2 cursor-pointer"></span>
                        <span class="icon" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                            aria-controls="offcanvasRight"> EOD </span>
                    </div>
                    <button class="fs-4 border-0 ms-3 bg-transparent" type="submit">
                        <span class='icon icon-bxs-send'></span>
                    </button>
                </div>
                <input type="file" id="file" class="d-none">
            </form>
        </div>
    </ng-container>
    <!-- End: Message  -->
</div>
<!-- End: User Message  -->