<app-one-chat-presentation 
    [allUsers]="getAllUsers$ | async"
    [onlineUsers]="getOnlineUsersData$ | async"
    [getReports]="eodReports$ | async"
    [getEODfromSocket]="eodReportSocket$ | async"
    [getConversationUsers]="getConversationUsers$ | async"
    [getMessages]="getMessages$ | async"
    [getNewSocketMessage]="newSocketMessage$ | async"
    [getNewGeneratedChatId]="newChatId$ | async"
    [typingInfo]="typingInfo$ | async"
    [getMessageReadData]="chatReadData$ | async"
    [getEditedMessage]="editMessageSocket$ | async"
    (logOutUser)="getLogOutUser($event)"
    (chatId)="getChatId($event)"
    [senderId]="senderId"
    (newMessage)="getNewMessage($event)"
    (readedMessages)="getReadedMessages($event)"
    (newConversationChat)="getNewCoversation($event)"
    (socketTyping)="getSocketTypingInfo($event)"
    (editMessageObj)="getEditMessageObj($event)"
    (newGroupDetails)="getNewGroupDetails($event)"
    (eodReport)="getEodReport($event)"
    (onEodTab)="getEodTab($event)"
></app-one-chat-presentation>