<app-one-chat-presentation
    [getAllUser]="allUser$ | async"
    [getConversationUsers]="conversationUser$ | async"
    (emitConversationId)="getConversationId($event)"
    [getChatArray]="getAllMessages$ | async"
    (emitChatData)="getChatObject($event)"
    [newChat]="newMessage | async"
    [newEditChat]="editMessages | async"
    (emitNewConversation)="getNewConservation($event)"
    [getNewChatId]="newChatId$ | async"
    (emitTypingData)="getTypingId($event)"
    [typingData]="getTypingData$"
    (emitReadMessage)="getReadMessagesData($event)"
    [getIsRead]="getIsReadData$ | async"
    [getAliveData]="aliveData$ | async"
    (emitMessageData)="editMessage($event)"
    (emitReplyMessageData)="replyMessageData($event)"
    (emitGroupData)="createGroup($event)"
></app-one-chat-presentation>