<app-one-chat-presentation
    [getOnlyLeads]="onlyLeads$|async"   
    [getAllUser]="allUser$ | async"
    [getConversationUsers]="conversationUser$ | async"
    (emitConversationId)="getConversationId($event)"
    [getChatArray]="getAllMessages$ | async"
    (emitChatData)="getChatObject($event)"
    [newChat]="newMessage | async"
    (emitNewConversation)="getNewConservation($event)"
    [getNewChatId]="newChatId$ | async"
    (emitTypingData)="getTypingId($event)"
    [typingData]="getTypingData$"
></app-one-chat-presentation>