#typer {
    flex: 0 0 60px;
}

.chat-container {
    background-color: #f6fdff;

    .chat {
        &-text {
            max-width: 500px;
            word-wrap: break-word;
        }
    }
}

.text-read {
    color: #00cbfd;
}

.last-chat {
    width: 250px;
}