

<!-- Start: Chat Container  -->
<div class="main-chat-container d-flex flex-column h-100 ">
    <!-- Start: Message Screen  -->
    <div class="chat-container flex-grow-1 overflow-auto p-5" #messageContainer (scroll)="onMessageScroll()">
        <div class="container position-relative">
            <div class="chat d-flex flex-column my-3" *ngFor="let message of chatArray let i = index"
                [ngClass]="message.senderId._id === UserObject.userId ? 'justify-content-end': 'justify-content-start'">
                <div class="d-flex justify-content-center">
                    <span class="tick-color shadow-sm text-success text-black py-1 px-2 rounded-2 fs-7"
                        *ngIf="formatDate(message.timestamp,chatArray[i-1]?.timestamp)">
                        {{formatDate(message.timestamp,chatArray[i-1]?.timestamp) }}
                    </span>
                </div>
                <div class="chat">
                    <div class="d-flex" [ngClass]="message.senderId._id === UserObject.userId  ? 'justify-content-end' : 'justify-content-start'">>
                        <!-- Message Text  -->
                        {{ message.senderId._id === message.senderId._id | json}}
                        <div class="chat-text py-1 px-2  placeholder-glow dropstart"
                            [ngClass]="message.senderId._id === UserObject.userId  ? 'bg-success chat-rt-border' : 'bg-success chat-lt-border'"
                            (mouseenter)="onMessageModel(message._id)" (mouseleave)="onMessageModel(message._id)">
                            <!-- <div class="chat-text rounded-3 py-1 px-2 shadow mb-1 placeholder-glow "
                            [ngClass]="message.is_sender ? 'bg-secondary' : 'bg-white'"
                            (mouseenter)="onMessageModel(message._id)" (mouseleave)="onMessageModel(message._id)"> -->
                            <!-- Edit Message  -->
                            <!-- <ng-container *ngIf="message.is_edit">
                                <span class="fs-7 text-info" [ngClass]="message.is_sender ? 'text-end': 'text-start'">
                                    Edited
                                </span>
                            </ng-container> -->

                            <!-- Reply Message  -->
                            <!-- <div class="reply-wrapper text-white bg-info rounded-1 p-1" *ngIf="message.replied_to">
                                <div class="mx-3">
                                    <div class="d-flex align-items-center justify-content-between mb-1 ">
                                        <span class="fs-9 text-nowrap"> {{message.replied_to.is_sender ? 'You' :
                                            message.replied_to.ownerName}} </span>
                                    </div>
                                    <div class="fs-7 text-nowrap"> {{message.replied_to.content.text}} </div>
                                </div>
                            </div> -->
                            <!-- Message Dropdown  -->
                            <div class="dropdown p-1">
                                <span class="p-4"> {{message.body}} </span>
                                <!-- <span class="icon-circle-down text-info" data-bs-toggle="dropdown" aria-expanded="false"
                                    role="button"
                                    [ngClass]="showMessageIcon && currentMessageId === message._id ? 'visible' : 'invisible'"
                                    (click)="openModel()"></span>
                                <ul class="dropdown-menu justify-content-end"
                                    [ngClass]="{'show' : messageModel && currentMessageId === message._id}">
                                    <li class="dropdown-item" (click)="onEditMessage(message)"
                                        *ngIf="message.is_sender"> Edit </li>
                                    <li class="dropdown-item" (click)="onReplyMessage(message)"> Reply </li>
                                </ul> -->

                                <!-- ngDropdown -->
                                <div ngbDropdown class="d-inline-block">
                                    <div
                                        [ngClass]="showMessageIcon && currentMessageId === message._id ? 'visible' : 'invisible'">
                                        <span id="dropdownBasic1" ngbDropdownToggle
                                            class="icon-down text- fs-4 ">
                                        </span>
                                    </div>

                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <ul class=" justify-content-end"
                                            [ngClass]="{'show' : messageModel && currentMessageId === message._id}">
                                            <li class="dropdown-item" (click)="onEditMessage(message)"
                                                *ngIf="message.senderId"> Edit </li>
                                            <li class="dropdown-item" (click)="onReplyMessage(message)"> Reply </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Message Details  -->
                    <p class="fs-8 text-info d-flex align-items-center"
                        [ngClass]="message.senderId._id ? 'justify-content-end' : 'justify-content-start'">
                        <span class="pe-1">
                            <!-- {{message.displayTime}} -->
                        </span>
                        <ng-container *ngIf="message.senderId._id">
                            <!-- <span *ngIf="!message.is_read">
                                <img src="https://img.icons8.com/ios-filled/16/b1b1b1/double-tick.png" />
                            </span>
                            <span *ngIf="message.is_read">
                                <img src="https://img.icons8.com/ios-filled/16/00ffff/double-tick.png" />
                            </span> -->
                        </ng-container>
                    </p>
                </div>
            </div>

        </div>
        

        <!-- Screen Message  -->
        <!-- <ng-container *ngIf="chatArray.length === 0"> -->
            <div class="d-flex h-100 justify-content-center align-items-center">
                <span class="text-info"> No Conversation Started </span>
            </div>
        <!-- </ng-container> -->

    </div>
    <!-- End: Message Screen  -->

    <!-- Start: Typer Container  -->
    <div class=" typer-container d-flex flex-column  py-2 position-relative">
        <div class="icon-circle-down fs-4 text-info down-arrow position-absolute" (click)="scrollUp()"
            *ngIf="isScrolledToBottom"> </div>
        <form class="container d-flex flex-column " (ngSubmit)="onSubmit()" [formGroup]="chatGroup">
            <!-- Reply Model -->
            <div class="reply-wrapper rounded-1 p-2 pe-3" *ngIf="isReplyMode">
                <div class="mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <!-- <span> {{replyMessage.is_sender ? 'You' : this.replyMessage.ownerName}} </span> -->
                        <button class="btn-close" (click)="onCancelMode()" type="button"></button>
                    </div>
                    <!-- <span>{{replyMessage.content.text}}</span> -->
                </div>
            </div>
            <!-- End Reply Model -->
            <!-- Emoji Icon  -->
            <emoji-mart class="emoji-mart " *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)"
                title="Pick your emoji…"></emoji-mart>
            <!-- Emoji Icon  -->

            <!-- typeing Wrapper  -->
            <div class="d-flex py-2 px-2">
                <div class="file-attach d-flex align-items-center gap-2">
                    <span class="icon-{{closeIcon}} cursor-pointer" (click)="closeEmojiPicker()"></span>
                    <img src="./../../../../../assets/images/01 Smile.png" class=" cursor-pointer"
                        (click)="openEmojiPicker()">
                    <label for="file" class="d-flex align-items-center border border-success rounded-2 fs-2">
                        <span class="icon-plus fs-4 cursor-pointer"></span>
                    </label>
                </div>
                <!-- write Message -->
                <div class="w-100 mx-3 ">
                    <input type="text" class="form-control  rounded-4 px-2" name="message" formControlName="message"
                        autocomplete="off" placeholder="Type a new message" [(ngModel)]="message " #inputTypeFocus>
                </div>
                <!-- write Message -->
                <div class="d-flex align-items-center gap-1">
                    <ng-container *ngIf="isEditMode">
                        <span class="icon icon-x-lg fs-5" (click)="onCancelMode()" role="button"></span>
                    </ng-container>

                    <button type="submit" class="border-0" [disabled]="!chatGroup.valid"><span
                            class='icon-bxs-send fs-3' role="button"></span></button>
                </div>
            </div>
            <input type="file" id="file" class="d-none">
        </form>
    </div>
    <!-- End: Typer Container  -->
</div>
<!-- End: Chat Container  -->
