<!-- Task Form wrapper -->
<div class="form-wrapper d-flex flex-column bg-white  position-absolute h-100   end-0 p-2 p-sm-4 overflow-auto">
    <!-- header -->
    <div>
        <div class="d-flex align-items-center justify-content-between">
            <h3 class="text-uppercase">Task Submission Form</h3>
        </div>
        <span class="fs-8"> Enter task details and relevant information using this form to create </span>
    </div>
    <!-- form start -->
    <form class="flex-grow-1" [formGroup]="eodFormGroup" (ngSubmit)="saveTask()">
        <div class="h-100 d-flex flex-column justify-content-between">
            <div class="main-row-wrapper">
                <div class="row g-0">
                    <!-- Task taskTitle -->
                    <div class="col-12">
                        <div class="form-group mt-sm-3">
                            <label for="Title" class="fw-bold fs-7">Title <span class="text-danger">
                                    *</span></label>
                            <input type="text" class="form-control" id="Title" placeholder="Task Title"
                                formControlName="taskTitle"
                                [ngClass]="{'border-danger':validator['taskTitle'].invalid && (validator['taskTitle'].touched ||isSubmitted)}">
                        </div>
                        <div class="validation-error-h">
                            <div
                                *ngIf="validator['taskTitle'].invalid && (isSubmitted || validator['taskTitle'].touched||validator['taskTitle'].dirty)">
                                <span class="text-danger fw-bold fs-8"
                                    *ngIf="validator['taskTitle'].errors?.['required']">
                                    This field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Select State Type -->
                    <div class="col-6">
                        <div class="form-group mt-3">
                            <label for="state" class="fw-bold fs-7">State Type <span class="text-danger">
                                    *</span></label>
                            <ng-select formControlName="taskState"  
                                [ngClass]="{'border-danger':validator['taskState'].invalid && (validator['taskState'].touched||isSubmitted)}" >
                                <ng-option value="" disabled>Select state type</ng-option>
                                <ng-option *ngFor="let item of getStateActivityType.data.docs[1].data"
                                    [value]="item.stateId">
                                    {{item.state}}
                                </ng-option>

                            </ng-select>
                            <div class="validation-error-h">
                                <div
                                    *ngIf="validator['taskState'].invalid && (isSubmitted || validator['taskState'].touched||validator['taskState'].dirty)">
                                    <span class="text-danger fw-bold fs-8"
                                        *ngIf="validator['taskState'].errors?.['required']"> This field is
                                        required</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Select Activity  Type -->
                    <div class="col-6">
                        <div class="form-group mt-3">
                            <label for="activity" class="fw-bold fs-7 ">Activity Type <span class="text-danger">
                                    *</span></label>
                            <ng-select placeholder="Select Activity Type" formControlName="taskActivity" id="activity"
                                [ngClass]="{'border-danger':validator['taskActivity'].invalid && (isSubmitted || validator['taskActivity'].touched )}">
                                <ng-option value="" disabled>Select Activity Type</ng-option>
                                <ng-option *ngFor="let item of getStateActivityType?.data?.docs[0]?.data"
                                    [value]="item.activityId">{{item.activity
                                    }}</ng-option>
                            </ng-select>
                        </div>
                        <div class="validation-error-h">
                            <div
                                *ngIf="validator['taskActivity'].invalid && (isSubmitted || validator['taskActivity'].touched||validator['taskActivity'].dirty)">
                                <span class="text-danger fw-bold fs-8"
                                    *ngIf="validator['taskActivity'].errors?.['required']"> This field is
                                    required</span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <!-- Description  -->
                    <div class="col-12 ">
                        <div class="mt-3">
                            <label for="description" class="fw-bold fs-7">Description <span class="text-danger">
                                    *</span></label>
                            <ckeditor name="description" formControlName="taskDescription" [config]="ckEditorConfig">
                            </ckeditor>
                        </div>
                        <div class="validation-error-h">
                            <div
                                *ngIf="eodFormGroup.get('taskDescription').invalid && (isSubmitted || eodFormGroup.get('taskDescription').touched)">
                                <span class="text-danger fw-bold fs-8"
                                    *ngIf="eodFormGroup.get('taskDescription').errors?.['required']"> This field is
                                    required</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <!-- Blocker  -->
                    <div class="col-12 ">
                        <div class="mt-3">
                            <label for="blocker" class="fw-bold fs-7">Blocker</label>
                            <ckeditor name="blocker" formControlName="taskBlocker" [config]="ckEditorConfig">
                            </ckeditor>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Effort  -->
                    <label class="fw-bold mt-3">Effort(hours)</label>
                    <div class="col-8">

                        <div class="row">

                            <!-- Original Estimation  -->

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="originalTime" class="fw-bold text-nowrap fs-7">Original Estimation <span
                                            class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control" id="originalTime"
                                        placeholder="Enter OriginalTime" formControlName="taskOriginalEstimate"
                                        [ngClass]="{'border-danger':validator['taskOriginalEstimate'].invalid && (validator['taskOriginalEstimate'].touched ||isSubmitted)}">
                                </div>
                                <div class="validation-error-h">
                                    <div
                                        *ngIf="validator['taskOriginalEstimate'].invalid && (isSubmitted || validator['taskOriginalEstimate'].touched||validator['taskOriginalEstimate'].dirty)">
                                        <span class="text-danger fw-bold fs-8"
                                            *ngIf="validator['taskOriginalEstimate'].errors?.['required']"> This field
                                            is
                                            required</span>
                                    </div>
                                    <span class="text-danger fw-bold fs-8"
                                        *ngIf="validator['taskOriginalEstimate'].errors?.['pattern']">
                                        Only numbers required.</span>
                                </div>

                            </div>
                            <!-- Remaining  -->
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="remainingTime" class="fw-bold fs-7">Remaining <span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control" id="remainingTime"
                                        placeholder="Enter RemainingTime" formControlName="taskEffortsRemaining"
                                        [ngClass]="{'border-danger':validator['taskEffortsRemaining'].invalid && (validator['taskEffortsRemaining'].touched ||isSubmitted)}">
                                </div>
                                <div class="validation-error-h">
                                    <div
                                        *ngIf="validator['taskEffortsRemaining'].invalid && (isSubmitted || validator['taskEffortsRemaining'].touched||validator['taskEffortsRemaining'].dirty)">
                                        <span class="text-danger fw-bold fs-8"
                                            *ngIf="validator['taskEffortsRemaining'].errors?.['required']"> This field
                                            is
                                            required</span>
                                    </div>
                                    <span class="text-danger fw-bold fs-8"
                                        *ngIf="validator['taskEffortsRemaining'].errors?.['pattern']">
                                        Only numbers required.</span>
                                </div>

                            </div>
                        </div>


                    </div>
                    <!-- Actual Time  -->
                    <div class="col-4">
                        <div class="form-group ">
                            <label for="competeTime" class="fw-bold fs-7">Actual Time <span class="text-danger">
                                    *</span></label>
                            <input type="text" class="form-control" id="competeTime" placeholder="Enter CompeteTime"
                                formControlName="taskEffortsCompleted"
                                [ngClass]="{'border-danger':validator['taskEffortsCompleted'].invalid && (validator['taskEffortsCompleted'].touched ||isSubmitted)}">
                        </div>
                        <div class="validation-error-h">
                            <div
                                *ngIf="validator['taskEffortsCompleted'].invalid && (isSubmitted || validator['taskEffortsCompleted'].touched||validator['taskEffortsCompleted'].dirty)">
                                <span class="text-danger fw-bold fs-8"
                                    *ngIf="validator['taskEffortsCompleted'].errors?.['required']"> This field is
                                    required</span>
                            </div>
                            <span class="text-danger fw-bold fs-8"
                                *ngIf="validator['taskEffortsCompleted'].errors?.['pattern']">
                                Only numbers required.</span>
                        </div>

                    </div>
                </div>

            </div>
            <!-- submit and Cancel button -->
            <div class="button my-5 my-lg-3 d-flex justify-content-between">
                <button type="button" class="btn btn-outline-success me-3"><span class="text-dark"
                        (click)="closeEodForm()">Cancel</span></button>
                <button type="submit" class="btn btn-primary  border-0 text-nowrap text-white fw-bold "  [disabled]="eodFormGroup.invalid">Save</button>
            </div>
        </div>
    </form>
    <!-- form start -->
</div>
<!--  EndTask Form  wrapper-->