<!-- sideBar Wrapper -->
<div class="sidebar border-end border-1 border-success h-100">
    <div class="h-100 d-flex flex-column ">
        <!-- chat list header selector -->
        <div class="chat-header  border-bottom border-1 border-success">
            <app-chat-list-header-ui [allUsers]="getAllUsers">
            </app-chat-list-header-ui>
        </div>

        <!-- End chat list header selector -->
        <!-- Conversation list  wrapper -->
        <div class="flex-grow-1 overflow-hidden d-flex flex-column position-relative">
            <input type="checkbox" name="toggle-user" id="toggle-user" class="d-none" #toggle>
            <div id="user" class="d-flex flex-column search-container position-absolute bg-white h-100">
                <!-- All users  selector -->
                <app-user-list-container (closeAsideBarEmitter)="closeAsideBar($event)"
                    (newConversationEmitter)="newConversation($event)">
                </app-user-list-container>
                <!-- End All users  selector -->
            </div>
            <!-- Conversations Search-->
            <!-- <div class="p-3">
                <form class="position-relative">
                    <input type="text" class="form-control " name="search" autocomplete="off"
                        placeholder="Search a Conversation " #inputTypeFocus>
                    <span class="icon-search position-absolute fw-lighter "></span>
                </form>
            </div> -->
            <!--End Conversations Search-->
            <!--  Tabs Wrapper-->
            <div class="row m-0 bg-white mx-2 rounded-2 mt-2">
                <!-- Chat tab -->
                <div class="col-6 p-0 " role="button" (click)="onTabSwitch(true)">
                    <div class="tab-switch d-flex justify-content-center align-items-center py-3 gap-1 rounded-2"
                        [ngClass]="tabData ? 'bg-main-color' : 'border-transparent'">
                        <span class="fw-bold" [ngClass]="tabData ? 'text-white' : 'text-dark'"> Chat </span>
                    </div>
                </div>
                <!-- Groups tab -->
                <div class="col-6 p-0" role="button" (click)="onTabSwitch(false)">
                    <div class="tab-switch d-flex justify-content-center align-items-center py-3 gap-1 rounded-2"
                        [ngClass]="!tabData ? 'bg-main-color' : 'border-transparent'">
                        <span class="fw-bold" [ngClass]="tabData ? 'text-dark' : 'text-white'"> Groups </span>
                    </div>
                </div>
            </div>
            <!-- End  tabs Wrapper-->
            <!-- Skeleton Loading -->
            <div *ngIf="isLoading | async; else data">
                <app-conversation-skeleton-loader></app-conversation-skeleton-loader>
            </div>
            <!-- Skeleton Loading -->
            <!-- Start: Conversation lists -->
            <ng-template #data>
                <div class=" conversation-list flex-grow-1 overflow-auto mt-3 mx-2 position-relative "
                    *ngIf="conversationUsers">
                    <div class="conversation d-flex align-items-center my-1 p-1 rounded-2"
                        [ngClass]="{'bg-theme' : user.chatId ===currentChatId }" role="button"
                        *ngFor="let user of conversationUsers " (click)="onUser(user)">
                        <div class="px-2">
                            <div class=" position-relative user-profile rounded-circle">
                                <img [src]="user.profile" class="h-100 w-auto" alt="profile">
                                <!-- <ng-template [ngIf]="user.chat_type !== 'group'">
                            <span *ngIf="checkIfOnline(user.members[0]._id)"
                                class="online position-absolute translate-middle bg-success border border-light rounded-circle">
                            </span>
                        </ng-template> -->
                            </div>
                        </div>

                        <div class="py-3 flex-grow-1 flex-column d-flex pe-3">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="fw-semibold text-truncate fs-7 ms-2"> {{user.displayName}} </span>
                                    <span class="badge ms-2"></span>
                                </div>
                                <span class="text-chat fs-8"> {{user.standardTime}} </span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <ng-container
                                    *ngIf="typingIds.includes(user.members[0]._id) && showTypingText | async else message">
                                    <span class="fs-7 text-success fw-semibold"> Typing... </span>
                                </ng-container>
                                <ng-template #message>
                                    <span class="fs-7 last-chat text-chat text-truncate ms-2"
                                        [ngClass]="{'fw-bold' : user.notificationCount}"> {{loginUserObject.userId ===
                                        user.sender ? 'You: ' :
                                        ''}} {{user.lastMessage}} </span>
                                </ng-template>
                                <!-- <ng-template [ngIf]="user.chat_type !== 'group'">
                                    <ng-container *ngIf="user.notificationCount">
                                        <span
                                            class="badge rounded-circle bg-success text-white d-flex justify-content-center align-items-center">
                                            {{user.notificationCount}} </span>
                                    </ng-container>
                                </ng-template> -->
                                <!-- <ng-container *ngIf="user.eodNotification">
                            <span class="badge bg-danger" (click)="eodChatOpen($event.stopPropagation(),user)"> EOD
                            </span>
                        </ng-container> -->
                                <!-- <span class="text-danger"> ● </span> -->
                            </div>
                        </div>
                    </div>
                    <div class="open-new-conversation position-absolute cursor-pointer"
                        (click)="openNewConversationModel()">
                        <span class="icon-chat-right fs-5 text-white"
                            [ngClass]="allUsersApiCall  ?'icon-x-lg ':'icon-chat-right'"></span>

                    </div>
                </div>
            </ng-template>
            <!-- End : Conversation lists -->
        </div>
        <!-- Conversation list  wrapper -->
    </div>
</div>