.skeleton {
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  .circle {
    border-radius: 50% !important;
    height: 50px !important;
    width: 50px;
  }
  .skeleton-right {
    flex: 3;
    .line {
      height: 20px;
      background: rgba(130, 130, 130, 0.2);
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(8%, rgba(130, 130, 130, 0.2)),
        color-stop(18%, rgba(130, 130, 130, 0.3)),
        color-stop(33%, rgba(130, 130, 130, 0.2))
      );
      background: linear-gradient(
        to right,
        rgba(130, 130, 130, 0.2) 8%,
        rgba(130, 130, 130, 0.3) 18%,
        rgba(130, 130, 130, 0.2) 33%
      );
      background-size: 800px 100px;
      animation: wave-lines 2s infinite ease-out;
    }
  }

  .skeleton-left {
    flex: 1;
    .square {
      height: 100px;
      background: rgba(130, 130, 130, 0.2);
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(8%, rgba(130, 130, 130, 0.2)),
        color-stop(18%, rgba(130, 130, 130, 0.3)),
        color-stop(33%, rgba(130, 130, 130, 0.2))
      );
      background: linear-gradient(
        to right,
        rgba(130, 130, 130, 0.2) 8%,
        rgba(130, 130, 130, 0.3) 18%,
        rgba(130, 130, 130, 0.2) 33%
      );
      background-size: 800px 100px;
      animation: wave-squares 2s infinite ease-out;
    }
  }

  @keyframes wave-lines {
    0% {
      background-position: -468px 0;
    }

    100% {
      background-position: 468px 0;
    }
  }

  @keyframes wave-squares {
    0% {
      background-position: -468px 0;
    }

    100% {
      background-position: 468px 0;
    }
  }
}
// /.item {
//   width: auto;
//   height: auto;
//   margin: 10px auto;
//   border: 1px solid #eaeaea;
//   padding: 10px;
// }

// .fb-item {
//   width: auto;
//   height: auto;
//   margin: 10px auto;
//   border: 1px solid #eaeaea;
//   padding: 10px;
// }



.first-section-wrapper,
.second-section-wrapper {
  width: 100%;
  height: auto;
  flex: 1;
}

.first-section-wrapper {
  display: inline-flex;
}

.second-section-wrapper {
  margin-top: 30px;
}

.wrapper {
  width: 100%;
  flex: 1;
}

.item-with-background {
  background: #FF0001;
  padding: 10px;
}

.loader {
  line-height: 1;
  box-sizing: border-box;
  background-repeat: no-repeat;	  background: rgb(239, 241, 246) no-repeat;
  background-color: rgb(239, 241, 246);	
  line-height: 1;	
  overflow: hidden;	
  position: relative;
}