    <!-- Start: offcanvas start -->
    <div class="offcanvas offcanvas-end w-75" tabindex="-1" id="offcanvasRight" data-bs-backdrop="static"
    aria-labelledby="offcanvasRightLabel">
    <!-- title -->
    <div class="offcanvas-header d-flex justify-content-center">
        <h5 class="offcanvas-title fs-2" id="offcanvasRightLabel"> EOD REPORT</h5>
    </div>
    <div class="offcanvas-body position-relative">
        <!-- start Eod form -->
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h3 class="text-uppercase">Add Eod Details</h3>
            <div class="button">
                <button class="btn btn-outline-dark" *ngIf="openForm" (click)="onCancelEodFrom()"> Cancel
                </button>
                <button class="btn btn-info" (click)="onAddEodFrom()" *ngIf="!openForm"> Add </button>
            </div>
        </div>
        <!-- Start: EOD Report Summary table -->
        <div class="bg-white h-100 ">
            <div class="d-flex justify-content-between align-items-center pb-3">
                <div>
                    <span class="fw-bold"> Name: </span>
                    <span> {{senderName}} </span>
                </div>
                <div>
                    <span class="fw-bold"> Date: </span>
                    <span> {{eodDate}} </span>
                </div>
            </div>
            <table class="w-100">
                <thead>
                    <tr>
                        <th> Task </th>
                        <th> Hours </th>
                        <th> Description </th>
                        <th> Blocker </th>
                        <th> Status </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Add eod Form  -->
                    <tr eod-table-form-ui *ngIf="openForm" (eodDetails)="getEodDetails($event)">
                    </tr>

                    <ng-container *ngFor="let data of allTasks let i=index">
                        <tr *ngIf="!data.isEdit">

                            <td>
                                {{data.name}}
                            </td>
                            <td>
                                {{data.hours}}
                            </td>
                            <td>
                                {{data.description}}
                            </td>
                            <td>
                                {{data.blocker || '-'}}
                            </td>
                            <td>
                                {{data.type}}
                            </td>
                            <td>
                                <label for="index" class="d-flex flex-column fs-2 fw-bold icon-Dote "
                                    (click)="openEditDeleteModel(i)">
                                    <div *ngIf="showModel && activeEditDeleteTab === i"
                                        (appOnClickOutside)="clickOutside()">
                                        <div class="dropdown ">
                                            <ul class="dropdown-content ">
                                                <li class="dropdown-item fs-6 text-nowrap pb-2"
                                                    (click)="onEditEod(i)">Edit</li>
                                                <li class="dropdown-item fs-6 text-nowrap"
                                                    (click)="onDeleteEod(i)">Delete</li>
                                            </ul>
                                        </div>
                                    </div>
                                </label>
                            </td>
                        </tr>
                        <!-- edit eod Form  -->
                        <tr eod-table-form-ui *ngIf="data.isEdit" [getEditData]="toEditData"
                            (openFormEmitter)="openFormEmitter($event)" (eodDetails)="getEodDetails($event)">
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="d-flex justify-content-between mt-4">
                <button class="btn btn-danger text-white" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" (click)="onCancel()"> Cancel
                </button>
                <button class="btn btn-info text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" [disabled]="!submitBtnDisabled"
                    type="submit" (click)="onEodSubmit(true)"> Submit
                </button>
                <!-- " -->
            </div>
        </div>
        <!-- End: EOD Report Summary -->

    </div>

</div>
