<!-- Start: User List  -->
<div class="h-100 d-flex flex-column overflow-hidden">
    <!-- Start: Header Section  -->
    <div id="header" class="d-flex align-items-center justify-content-between px-3">
        <div class="d-flex align-items-center">
            <figure class="m-0">
                <img [src]="convertPhoto(getSenderDetails?.photo)" alt="profile" class="profile-img rounded-circle">
            </figure>
            <div class="ms-3">
                <span class="fw-semibold"> {{getSenderDetails?.full_name}} </span>
            </div>
        </div>
        <div class="fs-3 d-flex align-items-center">
            <!-- <label for="toggle-user"> -->
            <!-- </label> -->
            <div class="drop-start">
                <span class='icon-bxs-user-plus text-info' role="button" title="users" data-bs-toggle="dropdown"
                    (click)="resetSearchForm()"></span>
                <ul class="dropdown-menu overflow-hidden" [ngClass]="{ 'show' : showModel }">
                    <li><a class="dropdown-item" (click)="openNewChat()">New Chat</a></li>
                    <li><a class="dropdown-item" (click)="onNewGroup()">New Group</a></li>
                </ul>
            </div>
            <div class=" fs-4 ms-2" role="button" (click)="onLogOut()" title="logout">
                <i class='icon-bx-log-out  text-info'></i>
            </div>
        </div>

    </div>
    <!-- End: Header Section  -->

    <!-- Start: List  -->
    <ul class="flex-grow-1 position-relative h-100 overflow-hidden">

        <!-- Tab Switch  -->
        <div class="row border">
            <div class="col-6 p-0 border-end" role="button" (click)="onTab()">
                <div class="tab-switch d-flex justify-content-center align-items-center py-3 gap-1"
                    [ngClass]="{'border-bottom border-3 border-success' : tabCount}">
                    <span class="fw-bold"> Chat </span>
                    <span class="badge rounded-circle bg-success text-white"
                        *ngIf="notificationCount?.chat > 0">{{notificationCount.chat}}</span>
                </div>
            </div>
            <div class="col-6 p-0" role="button" (click)="onTab()">
                <div class="tab-switch d-flex justify-content-center align-items-center py-3 gap-1"
                    [ngClass]="{'border-bottom border-3 border-success' : !tabCount}">
                    <span class="fw-bold"> Groups </span>
                    <span class="badge rounded-circle bg-success text-white"
                        *ngIf="notificationCount?.group > 0">{{notificationCount.group}}</span>
                </div>
            </div>
        </div>

        <input type="checkbox" name="toggle-user" id="toggle-user" class="d-none" #toggle>

        <!-- Start: Search User  -->
        <li id="user" class="search-container position-absolute bg-white">
            <form class="p-3 bg-theme" [formGroup]="resetSearch">
                <input type="text" class="form-control" id="toggle-user" name="search" autocomplete="off"
                    placeholder="Search a User.." formControlName="search" #inputType>
            </form>
            <div class="border-end bg-white overflow-auto h-100">
                <div class="user-container d-flex align-items-center p-2 border-bottom "
                    *ngFor="let data of getAllUser | search:searchText" role="button" (click)="onNewChat(data)">
                    <div class="px-3 me-1">
                        <img [src]="convertPhoto(data.photo)" class="rounded-circle user-img" alt="profile">
                    </div>
                    <div class="ms-2">
                        <span class="fw-semibold"> {{data.full_name}} </span>
                        <span class="fw-semibold"
                            [ngClass]="{'text-danger' : data.role === 'lead', 'text-warning' : data.role === 'mentor', 'text-success' : data.role === 'intern'}">
                            ({{data.role}}) </span>
                    </div>
                </div>
                <div class="h-100 d-flex justify-content-center align-items-center"
                    *ngIf="(getAllUser | search:searchText).length <= 0 ">
                    <span class="text-info"> No User Found </span>
                </div>
            </div>
        </li>

        <!-- End: Search User  -->

        <!-- Start: Chat User  -->
        <div class="h-100 overflow-auto">
            <ng-container *ngIf="tabCount else group">
                <div class="user-container d-flex align-items-center" role="button"
                    *ngFor="let data of getConversationUser, let i = index" (click)="onUser(data)"
                    [ngClass]="{'bg-theme' : data._id === userId}">
                    <div class="px-3 me-1 position-relative">
                        <img [src]="convertPhoto(data.photo)" class="rounded-circle user-img" alt="profile">
                        <ng-container *ngIf="checkOnline(data._id)">
                            <span
                                class="online position-absolute translate-middle bg-success border border-light rounded-circle">
                                <span class="visually-hidden">New alerts</span>
                            </span>
                        </ng-container>
                    </div>
                    <div class="py-3 border-bottom flex-grow-1 flex-column d-flex pe-3">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <span class="fw-semibold text-truncate"> {{data.full_name}} </span>
                                <span class="badge ms-2"
                                    [ngClass]="{'bg-danger' : data.role === 'lead', 'bg-warning' : data.role === 'mentor', 'bg-success' : data.role === 'intern'}">
                                    {{data.role}} </span>
                            </div>
                            <span class="text-chat fs-7"> {{data.time ? data.time : ''}} </span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <ng-container *ngIf="typingStatus && typingId.includes(data._id) else elseStatement">
                                <span class="fs-7 text-success fw-semibold"> Typing... </span>
                            </ng-container>
                            <ng-template #elseStatement>
                                <span class="fs-7 last-chat text-truncate text-chat"
                                    [ngClass]="{'fw-bold' : data.notificationCount != 0}"> {{data.message ? data.message
                                    : 'No Messages'}} </span>
                            </ng-template>
                            <ng-container *ngIf="data.notificationCount">
                                <span
                                    class="badge rounded-circle bg-success text-white">{{data.notificationCount}}</span>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center h-100"
                    *ngIf="getConversationUser?.length === 0">
                    <span class="text-info"> No Conversation started </span>
                </div>
            </ng-container>

            <ng-template #group>
                <div class="user-container d-flex align-items-center" role="button"
                    *ngFor="let data of getGroupDetails, let i = index" (click)="onUser(data)"
                    [ngClass]="{'bg-theme' : data.chatId === chatId}">
                    <div class="px-3 me-1 position-relative">
                        <img [src]="convertPhoto(data.photo)" class="rounded-circle user-img" alt="profile">
                        <!-- <ng-container *ngIf="checkOnline(data._id)">
                            <span
                                class="online position-absolute translate-middle bg-success border border-light rounded-circle">
                                <span class="visually-hidden">New alerts</span>
                            </span>
                        </ng-container> -->
                    </div>
                    <div class="py-3 border-bottom flex-grow-1 flex-column d-flex pe-3">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <span class="fw-semibold text-truncate"> {{data.title}} </span>
                            </div>
                            <span class="text-chat fs-7"> {{data.time ? data.time : ''}} </span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <!-- <ng-container>
                                <span class="fs-7 text-success fw-semibold"> Typing... </span>
                            </ng-container> -->
                            <span class="fs-7 last-chat text-truncate text-chat"
                                [ngClass]="{'fw-bold' : data.notificationCount != 0}">{{data.lastUser ? data.lastUser +
                                ': ' + data.message : 'No Messages'}} </span>
                            <ng-container *ngIf="data.notificationCount">
                                <span
                                    class="badge rounded-circle bg-success text-white">{{data.notificationCount}}</span>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center h-100"
                    *ngIf="getGroupDetails?.length === 0">
                    <span class="text-info"> No Group Chats </span>
                </div>
            </ng-template>
        </div>
        <!-- End: Chat User  -->
    </ul>
    <!-- End: List  -->
</div>
<!-- End: User List  -->