<!-- Start: User List  -->
<div class="h-100 d-flex flex-column">
    <!-- Start: Header Section  -->
    <div id="header" class="d-flex align-items-center justify-content-between px-3">
        <div class="d-flex align-items-center">

            <!-- Profile Image  -->
            <figure class="m-0">
                <img [src]="senderDetails.photo" alt="profile" class="border profile-img rounded-circle">
            </figure>

            <!-- Users Name  -->
            <div class="ms-3">
                <span class="fw-semibold"> {{senderDetails.full_name}} </span>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center h-icon-size">
            <!-- <i class='icon-bxs-user-plus text-info position-relative' role="button" title="users"
                (click)="onNewConversation()">
                <div *ngIf="showModel" (appOnClickOutside)="clickOutside()">
                    <div class="dropdown ">
                        <ul class="dropdown-content ">
                            <li class="dropdown-item fs-6 text-nowrap pb-2" (click)="onSearchUser()">New Chat</li>
                            <li class="dropdown-item fs-6 text-nowrap" [ngClass]="{'disabled' :  userRole === 'intern'}"
                                (click)="onNewGroup()">
                                New Group</li>
                        </ul>
                    </div>
                </div>
            </i> -->

            <ng-template [ngIf]="serviceWorkerUpdateFlag">
                <a class="bg-danger bg-gradient rounded-1 text-white fs-6  px-2 fw-bolder" title="Click to Update App!" type="button" (click)="checkForSWUpdates()">
                    <span class='icon-info1 me-1'></span>
                    <span>UPDATE!</span>
                </a>
            </ng-template>
            
            <!-- ngDropdown -->
            <div ngbDropdown class="d-inline-block ms-3">
                <span type="button" id="dropdownBasic1" ngbDropdownToggle class="icon-user-plus text-info">
                </span>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <div ngbDropdownItem (click)="onSearchUser()">New Chat</div>
                    <div ngbDropdownItem (click)="onNewGroup()" [disabled]="userRole === 'intern'">
                        <span>New Group</span>
                    </div>
                </div>
            </div>
            
            <div class="ms-3" role="button" title="Log-Out" (click)="onLogOut(senderDetails.email)">
                <span class='icon-power text-info'></span>
            </div>

        </div>

    </div>
    <!-- End: Header Section  -->

    <!-- Start: List  -->
    <ul class="d-flex flex-column flex-grow-1 position-relative h-100 overflow-hidden m-0">
        <input type="checkbox" name="toggle-user" id="toggle-user" class="d-none" #toggle>
        <!-- Start: Search User  -->
        <div id="user" class="search-container position-absolute bg-white">
            <form class="p-3 bg-theme" [formGroup]="searchGroup">
                <input type="text" class="form-control" id="toggle-user" name="search" autocomplete="off"
                    placeholder="Search a User.." formControlName="search" [(ngModel)]="searchText" #inputTypeFocus>
            </form>
            <ul class="border-end bg-white overflow-auto h-100">
                <ng-container *ngFor="let user of allUsers | search:searchText">
                    <li role="button" class="user-container d-flex align-items-center p-2 border-bottom"
                        (click)="onNewChat(user)">
                        <div class="px-3 me-1 position-relative">
                            <figure class="m-0">
                                <img [src]="user.photo" class="border rounded-circle user-img" alt="profile">
                            </figure>
                            <span *ngIf="checkIfOnline(user._id)"
                                class="online position-absolute translate-middle bg-success border border-light rounded-circle">
                            </span>
                        </div>
                        <div class="ms-2">
                            <span class="fw-semibold"> {{user.full_name}} </span>
                            <span class="fw-semibold"
                                [ngClass]="{'text-danger' : user.role === 'lead', 'text-warning' : user.role === 'mentor', 'text-success' : user.role === 'intern'}">
                                ({{user.role}}) </span>
                        </div>
                    </li>
                </ng-container>
                <!-- No user found section  -->
                <div class="h-100 d-flex justify-content-center align-items-center"
                    *ngIf="(allUsers | search:searchText)?.length <= 0 ">
                    <span class="text-info"> No User Found </span>
                </div>
            </ul>
        </div>

        <ng-template [ngIf]="!notificationFlag">
            <div class="d-flex justify-content-evenly align-items-center p-3 tick-color" (click)="grantNotificationAccess()">
                <div class="bg-white fs-3 border border-1 rounded-circle p-4 position-relative">
                    <i class='icon-notifications_off text-info position-absolute top-50 start-50 translate-middle'></i>
                </div>
                <div>
                    <h6>Get Notified of New Messages</h6>
                    <p class="text-info m-0"><u>Turn on desktop notifications</u></p>
                </div>
            </div>
        </ng-template>

        <div class="flex-grow-1 overflow-hidden d-flex flex-column">
            <!-- Tab Switch  -->
            <div class="row border-5 m-0">
                <div class="col-6 p-0 border-end" role="button" (click)="onTabSwitch(true)">
                    <div class="tab-switch d-flex justify-content-center align-items-center py-3 gap-1 border-3 border-bottom"
                        [ngClass]="tabData ? 'border-primary' : 'border-transparent'">
                        <span class="fw-bold"> Chat </span>
                        <!-- <span class="badge rounded-circle bg-success text-white"
                            *ngIf="notificationCount?.chat > 0">{{notificationCount.chat}}</span> -->
                    </div>
                </div>
                <div class="col-6 p-0" role="button" (click)="onTabSwitch(false)">
                    <div class="tab-switch d-flex justify-content-center align-items-center py-3 gap-1 border-3 border-bottom"
                        [ngClass]="!tabData ? 'border-primary' : 'border-transparent'">
                        <span class="fw-bold"> Groups </span>
                        <!-- <span class="badge rounded-circle bg-success text-white"
                            *ngIf="notificationCount?.group > 0">{{notificationCount.group}}</span> -->
                    </div>
                </div>
            </div>

            <!-- Start: User Data  -->
            <div class="flex-grow-1 overflow-auto">
                <div class="user-container d-flex align-items-center"
                    [ngClass]="{'bg-theme' : user.chatId === currentChatId}" role="button"
                    *ngFor="let user of conversationUsers" (click)="onUser(user)">
                    <div class="px-3 me-1 position-relative">
                        <img [src]="user.profile" class="border rounded-circle user-img" alt="profile">
                        <ng-template [ngIf]="user.chat_type !== 'group'">
                            <span *ngIf="checkIfOnline(user.members[0]._id)"
                                class="online position-absolute translate-middle bg-success border border-light rounded-circle">
                            </span>
                        </ng-template>
                    </div>
                    <div class="py-3 border-bottom flex-grow-1 flex-column d-flex pe-3">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <span class="fw-semibold text-truncate"> {{user.displayName}} </span>
                                <span class="badge ms-2"></span>
                            </div>
                            <span class="text-chat fs-7"> {{user.standardTime}} </span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <!-- <ng-container *ngIf="typingStatus && typingId.includes(data._id) else elseStatement">
                                    <span class="fs-7 text-success fw-semibold"> Typing... </span>
                                </ng-container>
                                <ng-template #elseStatement>
                                    <span class="fs-7 last-chat text-truncate text-chat"
                                    [ngClass]="{'fw-bold' : data.notificationCount != 0}"> {{data.message ? data.message
                                        : 'No Messages'}} </span>
                                    </ng-template> -->
                            <ng-container
                                *ngIf="typingIds.includes(user.members[0]._id) && showTypingText | async else message">
                                <span class="fs-7 text-success fw-semibold"> Typing... </span>
                            </ng-container>
                            <ng-template #message>
                                <span class="fs-7 last-chat text-chat text-truncate"
                                    [ngClass]="{'fw-bold' : user.notificationCount}"> {{senderId === user.sender ? 'You: ' :
                                    ''}} {{user.lastMessage}} </span>
                            </ng-template>
                            <ng-template [ngIf]="user.chat_type !== 'group'">
                                <ng-container *ngIf="user.notificationCount">
                                    <span
                                        class="badge rounded-circle bg-success text-white d-flex justify-content-center align-items-center">
                                        {{user.notificationCount}} </span>
                                </ng-container>
                            </ng-template>
                            <ng-container *ngIf="user.eodNotification">
                                <span class="badge bg-danger" (click)="eodChatOpen($event.stopPropagation(),user)"> EOD
                                </span>
                            </ng-container>
                            <!-- <span class="text-danger"> ● </span> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: User Data  -->
        </div>
    </ul>
</div>